.back-btn {
    position: absolute;
    left: 40px;
    bottom: 40px;
    z-index: 2;
}

.forward-btn {
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 2;
}

.reset-button {
    color: $white;
    margin: 10px;
}